<div class="navbar">
    <div class="navbar-top-inner">
        <div class="wrapper">
            <div class="navbar-top">
                <div class="navbar-top-links">
                    <a href="#" class="navbar-top-link">о проекте</a>
                    <a href="#" class="navbar-top-link"><span class="icon-Heart"></span>Благотворительность</a>
                </div>

                <div id="personalArea">

                </div>
            </div>
        </div>

    </div>

    <div class="navbar-main-inner">
        <div class="wrapper">
            <div class="navbar-main">
                <div class="navbarBurger-btn">
                    <span class="navbarBurger-btn-click "></span>
                    <!--         navbarBurger-btn-click-active   -->
                    <ul class="navbarBurger-list">
                        <li class="navbarBurger-element"><a href="#"></a></li>
                        <li class="navbarBurger-element"><a href="#"></a></li>
                        <li class="navbarBurger-element"><a href="#"></a></li>
                        <li class="navbarBurger-element"><a href="#"></a></li>
                        <li class="navbarBurger-element"><a href="#"></a></li>
                        <li class="navbarBurger-element"><a href="#"></a></li>
                        <li class="navbarBurger-element"><a href="#"></a></li>
                    </ul>
                </div>
                <a href="index.html" class="logo"></a>

                <div class="navbar-main__select">
                    категории
                </div>

                <form id='navbar-main-search' class="navbar-main__search-form">
                    <input type="search" placeholder="Я ищу..." >
                    <button class="searchBtn" ><span class="icon-Search"></span></button>
                </form>

                <a href="#" class="navbar-main__btn-add">
                    <span>добавить обьявление</span>
                </a>

            </div>
        </div>
    </div>


</div>
<!-- /.navbar -->