:root {
    --short--width: 290px;
    --short--width: 600px;
}

.Home-page-slider {
    display: block;
    position: relative;
    justify-content: space-between;
    max-width: 100%;
    
    overflow: hidden;
    width: 100%;
    height: 250px;
    transition: all 1s;
}       
.Home-page-slider__line{
    /* overflow: hidden; */
    position: absolute;  
    height: 250px;
    transition: all ease 1s;
    display: flex;
}
.Home-page-slider__inner {
    display: block;
}

.Home-page-slider__element {
    position: relative;
    width: 290px;
    height: 250px;
    border-radius: 21px;
    background: #E5E5E5  no-repeat ;
    background-size: cover;
    color: #fff;
    display: block;
    float: left;
    left: 0;
    margin-right: 20px;
}
.Home-page-slider__element-long {
    text-align: right;
}

.Home-page-slider__element-text-box {
    display: block;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-40%, 0%);
    color: #fff;
    text-decoration: none;
}


.Home-page-slider__element-subTitle {
    font-weight: 300;
    display: block;
    font-size: 18px;
    line-height: 24px;
}

.Home-page-slider__element-title{
    font-weight: 700;
    display: block;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    transition: all 0.2s;
    
}
.Home-page-slider__element-text-box:hover > 
.Home-page-slider__element-title {
    transform: scale(1.15);
}

.Home-page-slider__inner:last-child > .Home-page-slider__element {
    margin: 0;
}


.Home-page-slider__element-toy{     /*Toy*/
    background-image: url("../img/slider/toy.jpg");
}

.Home-page-slider__element-clothes{ /*clothes*/
    background-image: url("../img/slider/clothes.jpg")
}

.Home-page-slider__element-child{    /*child*/
    background-image: url("../img/slider/child.jpg")
}

.Home-page-slider__element-furniture{/*furniture*/
    background-image: url("../img/slider/furniture.jpg")
}

.Home-page-slider__element-shoes{   /*shoes*/
    background-image: url("../img/slider/shoes.jpg");
}

.Home-page-slider__element-strollers{/*strollers*/
    background-image: url("../img/slider/strollers.jpg");
}

.Home-page-slider__element-books{/*books*/
    background-image: url("../img/slider/books.jpg");
}

@media screen and (min-width: 637px) {
    .Home-page-slider__element-subTitle {
        white-space: nowrap;
    }

    .Home-page-slider__element-long {
        text-align: left;
        width: 600px;
        max-width: 100%;
    }
}
