<header class="present-section">
    <div class="wrapper">
        <ul class="presentSlider">
            <li class="presentSlider-element opasity">
                <img src="./img/clouds/STEP-one.png" class="presentSlider-element__img" alt='/'></img>
                <p class="presentSlider-element__text">Накопилось много <b>детских вещей?</b></p>
            </li>
            <!-- /.presentSlider-element -->
            <li class="presentSlider-element opasity">
                <img src="./img/clouds/STEPtwo.png" class="presentSlider-element__img"
                     alt='/'></img>
                <p class="presentSlider-element__text">Просто <b>зарегистрируйся</b>  и размести объявление!</p>

            </li>
            <!-- /.presentSlider-element -->
            <li class="presentSlider-element opasity" >
                <img src="./img/clouds/STEPthree.png" class="presentSlider-element__img"alt='/'></img>
                <p class="presentSlider-element__text"><b>Обменяйтесь</b> с другими пользователями на что-то клёвое и полезное!!</p>
            </li>
            <!-- /.presentSlider-element -->

        </ul>
        
        <!-- &#10094; &#10095; -->
        <span class="presentSlider-btn__left presentSlider-btn" onclick="presentSlider(-1)"></span>
        <span class="presentSlider-btn__right presentSlider-btn" onclick="presentSlider(1)"></span>
    </div>

    <div class="cloudsInner">
        <span class="cloudOne"></span>
        <span class="cloudTwo"></span>
        <span class="cloudThree"></span>
        <span class="cloudFour"></span>
        <span class="cloudFive"></span>
        <span class="cloudsix"></span>
        <span class="cloudseven"></span>
    </div>
</header>